.container {
  height: 100vh;
  background-color: rgb(243, 243, 243);
  display: flex;
  justify-content: center;
  align-items: center;
}

.heading_container,
.form_container {
  height: 100%;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.heading_container .sub_heading_container {
  height: auto;
  width: 18rem;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
}
.heading_container .sub_heading_container p {
  margin-top: -14px;
}

.heading_container h1 {
  color: blue;
}

.heading_container p {
  font-size: 1rem;
}

.form_container form {
  height: auto;
  background-color: white;
  width: 18rem;
  border-radius: 5px;
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
  padding: 0.7rem;
}

.form_container form input {
  padding: 0.5rem;
  border-radius: 5px;
  border: 1px solid lightgray;
  outline: none;
}
.form_container form input:hover {
  outline: 1px solid rgb(95, 95, 247);
}
.form_container form button {
  background-color: rgb(94, 94, 238);
  border: none;
  padding: 0.5rem;
  border-radius: 5px;
  color: white;
  font-weight: 700;
  cursor: pointer;
}
.form_container form a {
  text-align: center;
  text-decoration: none;
  color: rgb(104, 104, 247);
}
.form_container form a:hover {
  text-decoration: underline;
}

.form_container form hr {
  width: 100%;
  border-top: 1px solid lightgray;
}

.form_container form #createBTN {
  background-color: rgb(4, 180, 4);
  width: 50%;
  place-self: center;
}

@media screen and (max-width: 360px) {
  .container {
    flex-direction: column;
  }
}

@media screen and (max-width: 414px) {
  .container {
    flex-direction: column-reverse;
  }
}