* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial,sans-serif;
    background-color: white;
    color: black;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    border-bottom: 1px solid white;
}

.logo {
    font-size: 5px;
    font-weight: bold;
}

.nav-links a {
    margin-right: 20px;
    text-decoration: none;
    color: rgb(87, 87, 248);
    font-weight: 500;
}

.create-btn {
    background-color: rgb(78, 78, 235) ;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.2s ease;
}

.create-btn:hover {
    background-color: rgb(72, 72, 240);
}

.create-btn:active{
    background-color: black;
    color: lightgrey;
}

.main-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px 40px;
    flex-wrap: wrap;
}

.text-area {
    flex: 1;
    min-width: 300px;
    max-width: 500px;
}

.text-area h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

text-area p {
    margin-bottom: 20px;
    line-height: 1.6;
}

.buttons {
    display: flex;
    align-items: center;
    gap: 20px;
}

.image-area{
    flex: 1;
    display: flex;
    justify-content: center;
    min-width: 300px;
}

.image-area img {
    width: 100;
    max-width: 300px;
    border-radius: 10px;
}